In [1]:
import numpy as np
import pandas as pd
import math

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression

In [2]:
a = pd.read_csv(r'C:\Users\Rajeev Rathore\Downloads\Credit.csv')

In [3]:
a.isnull().sum()

Unnamed: 0         0
Default            0
checkingstatus1    0
duration           0
history            0
purpose            0
amount             0
savings            0
employ             0
installment        0
sex                0
residence          0
age                0
housing            0
cards              0
liable             0
tele               0
foreign            0
dtype: int64

In [4]:
a= a.drop("Unnamed: 0", axis = 1)

In [5]:
CheckingStatus1=pd.get_dummies(a['checkingstatus1'],drop_first=True)

In [6]:
History=pd.get_dummies(a['history'],drop_first=True)

In [7]:
Purpose=pd.get_dummies(a['purpose'],drop_first=True)

In [8]:
Savings = pd.get_dummies(a['savings'],drop_first=True)

In [9]:
Employ = pd.get_dummies(a['employ'],drop_first=True)

In [10]:
Sex = pd.get_dummies(a['sex'],drop_first=True)

In [11]:
Housing = pd.get_dummies(a['housing'],drop_first=True)

In [12]:
Tele = pd.get_dummies(a['tele'],drop_first=True)

In [14]:
Foreign = pd.get_dummies(a['foreign'],drop_first=True)

In [15]:
a = pd.concat([a,CheckingStatus1,History,Purpose,Savings,Employ,Sex,Housing,Tele,Foreign], axis=1)

In [16]:
a = a.drop(['checkingstatus1','history','purpose','savings','employ','sex','housing','tele','foreign'],axis = 1)

In [17]:
a

,Default,duration,amount,installment,residence,age,cards,liable,DM0-200,DM200+,...,DM100-1000,DM1000+,1-7years,7+years,unemployed,male,own,rent,yes,german
0,0,6,1169,4,4,67,2,1,0,0,...,0,0,0,1,0,1,1,0,1,0
1,1,48,5951,2,2,22,1,1,1,0,...,0,0,1,0,0,0,1,0,0,0
2,0,12,2096,2,3,49,1,2,0,0,...,0,0,1,0,0,1,1,0,0,0
3,0,42,7882,2,4,45,1,2,0,0,...,0,0,1,0,0,1,0,0,0,0
4,1,24,4870,3,4,53,2,2,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,12,1736,3,4,31,1,1,0,0,...,0,0,1,0,0,0,1,0,0,0
996,0,30,3857,4,4,40,1,1,0,0,...,0,0,1,0,0,1,1,0,1,0
997,0,12,804,4,4,38,1,1,0,0,...,0,0,0,1,0,1,1,0,0,0
998,1,45,1845,4,4,23,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
999,0,45,4576,3,4,27,1,1,1,0,...,1,0,0,0,1,1,1,0,0,0

## Train Data

In [18]:
y=a.iloc[:,0].values
x=a.iloc[:,1:26].values

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

## Import Module

In [20]:
import pandas as pd

from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import SGDClassifier

In [21]:
names = ["Nearest_Neighbors", "Linear_SVM", "Polynomial_SVM", "RBF_SVM", "Gaussian_Process",
         "Gradient_Boosting", "Decision_Tree", "Extra_Trees", "Random_Forest", "Neural_Net", "AdaBoost",
         "Naive_Bayes", "QDA", "SGD"]

classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="linear", C=0.025),
    SVC(kernel="poly", degree=3, C=0.025),
    SVC(kernel="rbf", C=1, gamma=2),
    GaussianProcessClassifier(1.0 * RBF(1.0)),
    GradientBoostingClassifier(n_estimators=100, learning_rate=1.0),
    DecisionTreeClassifier(max_depth=5),
    ExtraTreesClassifier(n_estimators=10, min_samples_split=2),
    RandomForestClassifier(max_depth=5, n_estimators=100),
    MLPClassifier(alpha=1, max_iter=1000),
    AdaBoostClassifier(n_estimators=100),
    GaussianNB(),
    QuadraticDiscriminantAnalysis(),
    SGDClassifier(loss="hinge", penalty="l2")]

In [22]:
scores = []
for name, clf in zip(names, classifiers):
    clf.fit(x_train, y_train)
    score = clf.score(x_test, y_test)
    scores.append(score)

In [23]:
scores

[0.63,
 0.715,
 0.72,
 0.71,
 0.555,
 0.745,
 0.71,
 0.7,
 0.735,
 0.56,
 0.765,
 0.685,
 0.72,
 0.71]